{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="rA7oMWBbAtVoxyvzMGshIhVvMS8qxhiL6u_3HJTDLb8" />
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%} <title>Hackathon</title>{%endblock%}
</head>
{%block body%}
<body>

    <div>
        {%block navbar%}
            <ul>
                <li>Home</li>
                <li>Profile</li>
                <li>Products</li>
                <li>Cart</li>
                <li>Logout</li>
            </ul>
        {%endblock%}
    </div>

    <div id="content">
            {% block content %}
                Base Template For Website
            {% endblock %}
    </div>

    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <script src="{% static 'events.js' %}"></script>

</body>
{%endblock%}
</html>